*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    img{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
    }

}

@media screen and (max-width: 768px) {
    img{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 465px) {
    
    img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}